# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_CHAVE_PUBLICA=
SUPABASE_CHAVE_SECRETA=

# FIREBASE CLOUD MESSAGING - WEB
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_VAPID_KEY=

# FIREBASE ADMIN - BACKEND
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# APP
NEXT_PUBLIC_URL_APP=http://localhost:3000

# FUTURO
# MERCADO_PAGO_ACCESS_TOKEN=
# MERCADO_PAGO_CLIENT_ID=
# MERCADO_PAGO_CLIENT_SECRET=
# NEXT_PUBLIC_MERCADO_PAGO_PUBLIC_KEY=
